#container_of_offense {
	position: absolute;
	width: 300px;
	bottom: 0px;
	left: 0;
	margin: 8px;
	height: 24px;
	border: 1px solid gray;
}

#container_of_offense .meter-container {
	position: relative;
}

#container_of_offense .meter-container .meter-amount {
	position: absolute;
	left: 0;
	background-color: red;
	height: 24px;
}

#container_of_offense .meter-container .meter-flavor {
	position: absolute;
	top: 0;
	left: 4px;
	color: white;
}

/*#not-cool-breh {
	z-index:1000;
	position: absolute;
	width: 300px;
	bottom: 0px;
	left: 0;
	margin: 8px;
	height: 24px;
	border: 1px solid gray;
}*/

/*#container_of_container_of_offense {
	z-index: -500;
	width: 300px;
	bottom: 0px;
	left: 0;
	margin: 8px;
	height: 24px;
	background-color: black;
}*/
