#container_of_offense {
	position: absolute;
	width: 400px;
	bottom: 0px;
	left: 0;
	height: 24px;
	padding: 8px;
}

#container_of_offense .meter-container {
	position: relative;
}

#container_of_offense .meter-container .meter-amount {
	position: absolute;
	left: 0;
	background-color: red;
	height: 24px;
}

#container_of_offense .meter-container .meter-flavor {
	position: absolute;
	top: 0;
	left: 4px;
	color: white;
}